<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/comunidades.css">
    <link rel="stylesheet" href="/css/incidentes.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sistema de Monitoreo de Estados de Servicios de Transporte</title>
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
 
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<body>

<!-- navbar -->
<nav class="navbar">

        <div class="logo_item">
            <i class="bx bx-menu" id="sidebarOpen"></i>
            <i img src="/images/logo.jpeg" alt=""></i>
            <a href="/comunidades" class="nav_link sublink">
                Real Time
            </a>
        </div>



    <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell'></i>
        <a href="/login">

            <img src="/images/userLogo.png" alt="Login" class="profile" />
        </a>
        
    </div>
</nav>
<div class="container">
<!-- sidebar -->
<nav class="sidebar">
    <div class="menu_content">

        <ul class="menu_items">
            <div class="menu_title menu_dahsboard"></div>
            <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
            <!-- start -->
            <li class="item">
                <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
                    <span class="navlink">Home</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                </div>

                <ul class="menu_items submenu">
                    <a href="/comunidades" class="nav_link sublink">Mis Comunidades</a>
                    <a href="/usuario" class="nav_link sublink">Perfil de usuario</a>
                    <a href="/usuarios" class="nav_link sublink">Listado de usuarios</a>
                </ul>
            </li>
            <!-- end -->

            <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
            <!-- start -->
            <li class="item">
                <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
                    <span class="navlink">Incidentes</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                </div>

                <ul class="menu_items submenu">
                    <a href="/incidentes" class="nav_link sublink">Agregar Incidentes</a>
                    <a href="/incidentes/revisarIncidentes" class="nav_link sublink">Revisar incidentes</a>

                </ul>
            </li>
            <li class="item">
                <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                <i class="bx bxs-star"></i>
              </span>
                    <span class="navlink">Rankings</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                </div>

                <ul class="menu_items submenu">
                    <a href="/ranking/cantIncidentes" class="nav_link sublink">Mayor Cant. Incidentes</a>
                    <a href="/ranking/gradoImpacto" class="nav_link sublink">Mayor Grado de Impacto</a>
                    <a href="/ranking/promCierre" class="nav_link sublink">Mayor Promedio de Cierre</a>
                </ul>
            </li>
            <li class="item">
                <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon"><i class="bx bx-upload"></i></span>
                    <span class="navlink">Carga Masiva</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                </div>
                <ul class="menu_items submenu">
                    <a href="/cargar/organismosDeControl" class="nav_link sublink">Organismos de Control</a>
                    <a href="/cargar/entidadesControladoras" class="nav_link sublink">Entidades Controladoras</a>
                </ul>
            </li>
            <!-- end -->
        </ul>


        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
            <div class="bottom expand_sidebar">
                <span> Fijar Menu</span>
                <i class='bx bx-log-in'></i>
            </div>
            <div class="bottom collapse_sidebar">
                <span> Ocultar Menu</span>
                <i class='bx bx-log-out'></i>
            </div>
        </div>
    </div>
</nav>




<div id="content" class="container mx-auto mt-3">
    {{#block "contenido"}}
    {{/block}}
</div>
    {{!-- <div id="map"></div> --}}

</div>



<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
<script src="/js/comunidades.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alertas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
{{#if exito}}
<script type="text/javascript">
    mostrarAlertaExito("{{exito}}");
</script>
{{/if}}
{{#if error}}
<script type="text/javascript">
    mostrarAlertaError("{{error}}");
</script>
{{/if}}
</body>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
            defer
    ></script>
    <script src="/script.js"></script>

    

</html>