{{#partial "contenido" }}
<div class="container-md mt-5">
    <div class="card bg-dark text-white mx-auto p-3" style="border-radius: 1rem;">
        <div class="card-body">
            <h1 class="text-center">Cargar Entidades Controladoras</h1>
            <hr/>
            <div class="row">
                <div class="col-12 col-lg-6 mb-2">
                    <h3>Ejemplo de .txt:</h3>
                    <div class="bg-light p-3 rounded">
                    <pre class="text-dark" style="font-family: 'Courier New', monospace;">
Entidad Controladora 1, descripcion 1,Direccion 123, Buenos Aires
Entidad Controladora 2, descripcion 2,Direccion 456, Chaco
Entidad Controladora 3, descripcion 3,Direccion 789, Misiones
Entidad Controladora 4, descripcion 4,Direccion 012, jujuy
                    ...
                    </pre>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <form method="post" action="/cargar/entidadesControladoras" enctype="multipart/form-data">
                        <h3>Cargar archivo</h3>
                        <p class="lead">Seleccione un archivo en fomato .txt con la estructura indicada</p>
                        <div class="form-group mb-3">
                            <input name="archivocsv" type="file" class="form-control" accept=".txt" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Cargar Entidades</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> templates/base }}